<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <init> 
		<classImages>
			<config Path = "" />
		</classImages>
		
		<RecceMode>
			<config RecceMode = "false" />
		</RecceMode>
		
		<led>
			<config pictureLedEnabled = "true" />
		</led>
		
		<log>
			<config Path = "C:\Users\Rendszergazda.DESKTOP-3JFCJ07\Documents\iRacingDash\logs\WECOverlay" />
		</log>
		
    </init>
</configuration>