<?xml version="1.0" encoding="utf-8" ?>
<!-- PUT ME NEXT TO THE iRACINGDASH.EXE -->
<configuration>
    <init> 
		<RecceMode>
			<config RecceMode = "false" />
		</RecceMode>
		
		<led>
			<config pictureLedEnabled = "true" />
		</led>
		
		<turns>
			<config enabled = "true"/>
		</turns>
		
    </init>
</configuration>