<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <init> 
		<car>
			<!-- Car specific configs -->
			<config MaxRpm="7200"/>
		</car>
		
		<window>
			<!-- Window config -->
			<config PositionX="750"/>
			<config PositionY="620"/>
		</window>
		
		<led>
			<!-- FOR LED LIGHTS -->
			<config MinimumRPMPercent="35"/> <!-- Green leds start at 35% -->
			<config ShiftLightGreenPercent="25"/> <!-- Green leds go from 35% till 60% -->
			<config ShiftLightYellowPercent="25"/> <!-- Yellow leds go from 60% to 85% -->
			<config ShiftLightRedPercent="85"/>  <!-- Red leds go from 85% to 100% -->
		</led>
	
		<logPath>
			<config Path = "C:\Users\Rendszergazda.DESKTOP-3JFCJ07\Documents\iRacingDash\logs\Dash"/>
		</logPath>
	
		<fps>
			<config TelemetryFps="30"/> <!-- This is for the main telemetry infos: Laptime, Rpm, Speed, LED lights, Delta -->
			<config NonRealtimeCalculationsFps="10"/> <!-- These mean: Fuel calculations, Gear number, Pit limiter warnings, BrakeBias, Gear, Fuel(last lap time, fuel needed to fill, remaining fuel, laps estimate), TractionControl -->
		</fps>
    </init>
</configuration>